

# exclude all code from being processed by linguist stats
.vscode/ linguist-vendored
docs/ linguist-vendored
dwarf/ linguist-vendored
include/ linguist-vendored
tools/ linguist-vendored
#*.h linguist-language=CPP